.wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 0;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background: #FFFFFF;
  padding: 10px 0;
  overflow: auto;

  .content {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 60px 10px;
  }

  .navbar-crutch {
    position: absolute;
    width: 100%;
    z-index: 9;
    top: 0;

    .navbar-toggle {
      &:hover {
        background-color: #fff;
      }
    }
  }
}