#sign-in {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px 10px 20px;
  background-color: #FFFFFF;

  .wrap {
    width: 500px;
  }
}
